.App {
  width: 70%;
  margin: 5rem auto;
}

#loop-display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.measure {
  display: grid;
  grid-template-columns: .5fr repeat(4, 1fr);
}

.barline{
  width: 100%;
  text-align: center;
}

.beat {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.note {
  width: 1rem;
}

.note-btn {
  border: none;
  background-color: white;
  border-radius: 50%;
}

.note-btn:hover {
  cursor: pointer;
  background-color: rgb(239, 239, 239);
}